/* 	↓↓↓ 海悅交付之css ↓↓↓ */
	.section-content{
      position:relative;
      width:100%;
      max-width: 1100px;
      height: auto;
      margin: 0 auto;
      /*border: 1px solid #f00;*/
	}
	.map{
	      width: 100%;
 	      height: 40vh; 
	      padding: 0px;
	}
/* 	↑↑↑ 海悅交付之css ↑↑↑ */
	body, input{
		font-family: "微軟正黑體", "Microsoft JhengHei", 'LiHei Pro', Arial, Helvetica, sans-serif, \5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;
	}
	.over_map{
		position: absolute;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
		z-index: 1;
		display:none;
	}
	.over_map:hover{
		opacity: 1 !important;
	}
	#direction_by_addr{
		right: 465px;
		top: 27px;
		width: 20px;
		height: 20px;
	}
	#search-box-input-view{
		right: 152px;
		top: 24px;
		width: 220px;
		border-width: 0px;
		max-width:calc(60vw);
		margin-bottom:0px;
	}
	#search-box-enter{
		margin:5px;
		padding:5px;
		border-radius: 5px;
		top:20px;
		right:20px;
		cursor: pointer;
	}
	
	.page_title{
		right: 44px;
		bottom: 24px;
		background: #ededed;
		padding:4px 8px;
		border-radius: 3px;
		font-size:12px
	}
	.info_window{
		font-family: "微軟正黑體", "Microsoft JhengHei", 'LiHei Pro', Arial, Helvetica, sans-serif, \5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;
	}
	.info_window th{
		font-size: 150%;
		font-weight: bold;
	}
	.info_window td{
		border-bottom:1px dashed #ddd;
	}
	.info_window tr.title{
		border-bottom:0px dashed #ddd;
		margin-top:20px;
	}
	.info_window td:nth-child(1){
		text-align:right;
		word-break: keep-all;
		padding-left:16px;
	}
	.info_window td:nth-child(2){
		font-size: 120%;
		padding:5px;
	}
	.info_window td[colspan='2']{
		text-align: center;
		font-size: 120%;
		padding:10px;
	}
	.info_window td a{
		text-align:left;
		margin-left: 16px;
		margin-right: 16px;
	}
	
	.btn {
	    display: inline-block;
	    color: #fff;
	    font-size: 14px;
	    text-decoration: none;
	    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	    padding: 4px 20px;
	}
	.btn:hover {
	    box-shadow: none;
	}
	.btn-exec {
	    background: #D34200;
	    border: 1px solid rgb(179, 57, 0);
	}
	.btn-exec:hover {
	    background: rgb(230, 73, 0);
	}
	
	input[type="text"], input[type="password"], input[type="date"], select, textarea {
	    background: #efefef;
	    border: 1px solid #999;
	    font-size: 16px;
	    margin-bottom: 5px;
	    padding: 5px;
	}
	
	#poi_show_list_container{
		position:absolute;
		left:0px;
		top:5px;
		z-index:1;
		background-color:rgba( 220, 220, 220, 1);
		border: 2px solid rgb(180,180,180);
		cursor: move;
		transition: all .2s linear;
		width: 160px;
	}
	#poi_show_list_container.closed{
		left:-163px;
	}
	#poi_show_list_container > table{
		margin: 10px auto;
		cursor: move;
	}
	#poi_show_list_container td{
		padding: 4px 4px;
	}
	#poi_show_list_container input[type='checkbox']{ 
		width: 20px;
		height: 20px;
	} 
	
	#toggle-button {
	    width: 23px;
	    height: 48px;
	    cursor: pointer;
	    background: rgba(255,255,255,0.9) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==) 7px center/7px 10px no-repeat;
	    border-left: 1px solid #D4D4D4;
	    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	    position: absolute;
		right: -26px;
		margin-top:5px;
	}
	#toggle-button:hover {
		background: rgba(230,230,230,0.9) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==) 7px center/7px 10px no-repeat;
	}
	#toggle-button.closed {
	    -webkit-transform: scaleX(-1);
	    transform: scaleX(-1);
	}
	
	table.direction{
		padding:20px;
	}
	table.direction td{
		border:1px solid #aaa;
	}
	#direction_container{
		right:10px;
		top:10px;
		max-width:calc(90vw);
		transition: all .2s linear;
		background-color: rgba( 220, 220, 220, 1);
		z-index:2;
	}
	#direction_container.closed{
		top:-200px;
	}
	#direction_container > table{
		margin:10px;
	}
	#direction_container td{
		height:40px;
		min-width: 32px;
	}
	#go_navigate{
		border-radius: 60px;
		top:20px;
		right:20px;
		cursor: pointer;
		background-image: url("../images/go_direction.png");
		background-size: 100%;
		width:50px;
		height:50px;
	}
	#go_navigate:hover{
		top:18px;
		right:22px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
	}
	
	.func:hover{
		background: #BBB;
	}
	
	#tooltip{
        position:absolute;
        border:1px solid #333;
        background:#f7f5d1;
        padding:5px 8px;
        color:#333;
        display:none;
        z-index:10010;
		word-break:keep-all;
		text-align:left;
		border-radius:2px;
		opacity:0.9;
	}
	